@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted-foreground: 0 0% 45.1%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-my-yellow: #dec63e;
  --color-my-purple-subtitle: #c2bada;
  --color-my-purple-bg: #190f25;
  --color-my-purple-info-title: #a17bd5;
  --color-my-purple-text: #d6c2f0;
  --color-project-card-bg: #4b1e77;
  --color-project-card-tech-bg: #5c39ae;
  --color-project-card-tech-text: #f2ff8e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
